{
  "presets": [
    ["es2015", {
      "loose": true
    }],
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-assign",
    "dynamic-import-node",
    "transform-class-properties",
    "transform-object-rest-spread",
    "react-loadable/babel",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform", {
          "preprocessCss": "./loaders/sass-loader.js",
          "generateScopedName": "[name]__[local]___[hash:base64:5]",
          "extensions": ["css", ".scss"]
        }
        ]
      ]
    }
  }
}
