<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <link rel="shortcut icon" href="//a.links123.cn/common/imgs/favicon.ico" type="image/x-icon">
  <!-- <link rel="stylesheet" href="//a.links123.cn/g/src/bootstrap.min.css"> -->
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <script src="//gosspublic.alicdn.com/aliyun-oss-sdk.min.js"></script>
</head>

<body id="container">
  <div id="app"></div>
</body>
</html>
